;<?php exit; ?>
;*** DO NOT REMOVE THE LINE ABOVE ***

[openads]
installed=1
requireSSL=1
sslPort=443

[ui]
enabled=true
applicationName="${REVIVE_APPLICATION_NAME}"
headerFilePath=
footerFilePath=
logoFilePath=
headerForegroundColor=purple
headerBackgroundColor=
headerActiveTabColor=
headerTextColor=
gzipCompression=true
supportLink=
combineAssets=true
dashboardEnabled=true
hideNavigator=
zoneLinkingStatistics=true
disableDirectSelection=true

[database]
type=${REVIVE_DB_TYPE}
host="${REVIVE_DB_HOST}"
socket=
port=${REVIVE_DB_PORT}
username=${REVIVE_DB_USER}
password=${REVIVE_DB_PASSWORD}
name=${REVIVE_DB_DATABASE}
persistent=
mysql4_compatibility=1
protocol=tls
compress=
ssl=1
capath=
ca=

[databaseCharset]
checkComplete=1
clientCharset=utf8mb4

[databaseMysql]
statisticsSortBufferSize=

[databasePgsql]
schema=

[webpath]
admin="${REVIVE_DOMAIN}/www/admin"
delivery="${REVIVE_DOMAIN}/www/delivery"
deliverySSL="${REVIVE_DOMAIN}/www/delivery"
images="${REVIVE_DOMAIN}/rv_images"
imagesSSL="${REVIVE_DOMAIN}/rv_images"

[file]
asyncjs="asyncjs.php"
asyncjsjs="${REVIVE_ASYNC_JS_SCRIPT}.js"
asyncspc="asyncspc.php"
click="ck.php"
signedClick="cl.php"
conversionvars="tv.php"
content="ac.php"
conversion="ti.php"
conversionjs="tjs.php"
flash="fl.js"
google="ag.php"
frame="afr.php"
image="ai.php"
js="ajs.php"
layer="al.php"
log="lg.php"
popup="apu.php"
view="avw.php"
xmlrpc="axmlrpc.php"
local="alocal.php"
frontcontroller="fc.php"
singlepagecall="spc.php"
spcjs="spcjs.php"
xmlrest="ax.php"

[store]
mode=0
webDir="/var/www/html/rv_images"
ftpHost=
ftpPath=
ftpUsername=
ftpPassword=
ftpPassive=

[allowedBanners]
sql=1
web=1
url=1
html=1
text=1
video=1

[delivery]
cacheExpire=600
cacheStorePlugin="deliveryCacheStore:oxCacheFile:oxCacheFile"
cachePath=
acls=1
aclsDirectSelection=1
obfuscate=false
execPhp=false
ctDelimiter=__
chDelimiter=","
keywords=false
cgiForceStatusHeader=
clicktracking="No"
ecpmSelectionRate="0.9"
enableControlOnPureCPM=true
assetClientCacheExpire=3600
secret=${REVIVE_DELIVERY_SECRET}
clickUrlValidity = 0;

[defaultBanner]
imageUrl=

[p3p]
policies=1
compactPolicy="CUR ADM OUR NOR STA NID"
policyLocation=

[privacy]
disableViewerId=true
anonymiseIp=true

[graphs]
ttfDirectory=
ttfName=

[logging]
adRequests=false
adImpressions=true
adClicks=true
trackerImpressions=true
reverseLookup=false
proxyLookup=true
defaultImpressionConnectionWindow=5
defaultClickConnectionWindow=
ignoreHosts=
ignoreUserAgents=
enforceUserAgents=
blockAdClicksWindow=0
blockInactiveBanners=1

[maintenance]
autoMaintenance=1
timeLimitScripts=1800
operationInterval=60
blockAdImpressions=0
blockAdClicks=0
channelForecasting=false
pruneCompletedCampaignsSummaryData=false
pruneDataTables=true
ecpmCampaignLevels="9|8|7|6"

[priority]
instantUpdate=true
intentionalOverdelivery=0
defaultClickRatio="0.005"
defaultConversionRatio="0.0001"
randmax=2147483647

[performanceStatistics]
defaultImpressionsThreshold=10000
defaultDaysIntervalThreshold=30

[table]
prefix=${REVIVE_DB_PREFIX}
type=INNODB
account_preference_assoc=account_preference_assoc
account_user_assoc=account_user_assoc
account_user_permission_assoc=account_user_permission_assoc
accounts=accounts
acls=acls
acls_channel=acls_channel
ad_category_assoc=ad_category_assoc
ad_zone_assoc=ad_zone_assoc
affiliates=affiliates
affiliates_extra=affiliates_extra
agency=agency
application_variable=application_variable
audit=audit
banners=banners
campaigns=campaigns
campaigns_trackers=campaigns_trackers
category=category
channel=channel
clients=clients
data_intermediate_ad=data_intermediate_ad
data_intermediate_ad_connection=data_intermediate_ad_connection
data_intermediate_ad_variable_value=data_intermediate_ad_variable_value
data_raw_ad_click=data_raw_ad_click
data_raw_ad_impression=data_raw_ad_impression
data_raw_ad_request=data_raw_ad_request
data_raw_tracker_impression=data_raw_tracker_impression
data_raw_tracker_variable_value=data_raw_tracker_variable_value
data_summary_ad_hourly=data_summary_ad_hourly
data_summary_ad_zone_assoc=data_summary_ad_zone_assoc
data_summary_channel_daily=data_summary_channel_daily
data_summary_zone_impression_history=data_summary_zone_impression_history
images=images
log_maintenance_forecasting=log_maintenance_forecasting
log_maintenance_priority=log_maintenance_priority
log_maintenance_statistics=log_maintenance_statistics
password_recovery=password_recovery
placement_zone_assoc=placement_zone_assoc
preferences=preferences
session=session
targetstats=targetstats
trackers=trackers
tracker_append=tracker_append
userlog=userlog
users=users
variables=variables
variable_publisher=variable_publisher
zones=zones

[email]
logOutgoing=1
headers=
qmailPatch=1
fromName=Revive
fromAddress="no-reply@${REVIVE_DOMAIN}"
fromCompany=${REVIVE_COMPANY}
useManagerDetails=1

[log]
enabled=1
methodNames=
lineNumbers=
type=file
name="debug.log"
priority=6
ident=OX
paramsUsername=
paramsPassword=
fileMode=0644

[deliveryLog]
enabled=
name="delivery.log"
fileMode=0644
priority=6

[cookie]
permCookieSeconds=31536000
maxCookieSize=2048
domain=
viewerIdDomain=

[debug]
logfile=
production=1
sendErrorEmails=
emailSubject="Error from Revive Adserver"
email="email@example.com"
emailAdminThreshold=3
errorOverride=1
showBacktrace=
disableSendEmails=

[var]
prefix=OA_
cookieTest=ct
cacheBuster=cb
channel=source
dest=dest
signature=sig
timestamp=ts
logClick=log
n=n
params=oaparams
viewerId=OAID
viewerGeo=OAGEO
campaignId=campaignid
adId=bannerid
creativeId=cid
zoneId=zoneid
blockAd=OABLOCK
capAd=OACAP
sessionCapAd=OASCAP
blockCampaign=OACBLOCK
capCampaign=OACCAP
sessionCapCampaign=OASCCAP
blockZone=OAZBLOCK
capZone=OAZCAP
sessionCapZone=OASZCAP
vars=OAVARS
trackonly=trackonly
openads=openads
lastView=OXLIA
lastClick=OXLCA
blockLoggingClick=OXBLC
fallBack=oxfb
trace=OXTR
product=revive

[lb]
enabled=false
type=mysql
host=localhost
port=3306
username=
password=
name=
persistent=

[sync]
checkForUpdates=1
shareStack=1

[oacSync]
protocol=https
host="sync.revive-adserver.com"
path="/xmlrpc.php"
httpPort=80
httpsPort=443

[authentication]
type=internal
deleteUnverifiedUsersAfter=2419200

[geotargeting]
type=none
showUnavailable=false

[pluginPaths]
packages="/plugins/etc/"
plugins="/plugins/"
admin="/www/admin/plugins/"
var="/var/plugins/"

[pluginSettings]
enableOnInstall=1
useMergedFunctions=1

[plugins]
openXBannerTypes=1
openXDeliveryCacheStore=1
openXDeliveryLimitations=1
openXDeliveryLog=1
openXInvocationTags=1
openXReports=1
openXVideoAds=1
reviveMaxMindGeoIP2=1

[pluginGroupComponents]
ox3rdPartyServers=1
oxHtml=1
oxText=1
oxCacheFile=1
oxMemcached=1
Client=1
Geo=1
Site=1
Time=1
oxDeliveryDataPrepare=1
oxLogClick=1
oxLogConversion=1
oxLogImpression=1
oxLogRequest=1
oxInvocationTags=1
oxReportsStandard=1
oxReportsAdmin=1
vastInlineBannerTypeHtml=1
vastOverlayBannerTypeHtml=1
oxLogVast=1
vastServeVideoPlayer=1
videoReport=1
rvMaxMindGeoIP2=1
rvMaxMindGeoIP2Maintenance=1

[audit]
enabled=1
enabledForZoneLinking=

[oxCacheFile]
cachePath=

[oxMemcached]
memcachedServers=
memcachedExpireTime=

[Client]
sniff=1

[deliveryHooks]
cacheStore="deliveryCacheStore:oxCacheFile:oxCacheFile|deliveryCacheStore:oxMemcached:oxMemcached"
cacheRetrieve="deliveryCacheStore:oxCacheFile:oxCacheFile|deliveryCacheStore:oxMemcached:oxMemcached"
postInit="deliveryLimitations:Client:initClientData"
preLog="deliveryDataPrepare:oxDeliveryDataPrepare:dataCommon|deliveryDataPrepare:oxDeliveryDataPrepare:dataPageInfo|deliveryDataPrepare:oxDeliveryDataPrepare:dataUserAgent"
logClick="deliveryDataPrepare:oxDeliveryDataPrepare:dataCommon|deliveryLog:oxLogClick:logClick"
logConversion="deliveryLog:oxLogConversion:logConversion"
logConversionVariable="deliveryLog:oxLogConversion:logConversionVariable"
logImpression="deliveryDataPrepare:oxDeliveryDataPrepare:dataCommon|deliveryLog:oxLogImpression:logImpression"
logRequest="deliveryDataPrepare:oxDeliveryDataPrepare:dataCommon|deliveryLog:oxLogRequest:logRequest"
logImpressionVast="deliveryLog:oxLogVast:logImpressionVast"
addMaintenanceStatisticsTask="maintenanceStatisticsTask:rvMaxMindGeoIP2Maintenance:rvMaxMindGeoIP2Maintenance"

[oxInvocationTags]
isAllowedAsync=1
isAllowedAdjs=1
isAllowedAdframe=1
isAllowedAdlayer=1
isAllowedAdview=0
isAllowedAdviewnocookies=1
isAllowedLocal=1
isAllowedPopup=0
isAllowedXmlrpc=0

[vastOverlayBannerTypeHtml]
isVastOverlayAsTextEnabled=1
isVastOverlayAsSwfEnabled=1
isVastOverlayAsImageEnabled=1
isVastOverlayAsHtmlEnabled=1

[vastServeVideoPlayer]
isAutoPlayOfVideoInOpenXAdminToolEnabled=0

[rvMaxMindGeoIP2]
mmdb_paths=

[trim]
1=
